@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){
    .main .center-content{ padding: 18px 0;}
    
    .search{ max-width: 500px; margin: 0 auto; display: block;
        
        form{width: 100%;  padding: 10px 0; position: relative;
            &:first-child{z-index: 10;}
            .form-row {padding: 0;}
        }
    }
}
@media screen and (max-width: 600px){
    .item-cas .content { display: block;
        .image-block{ padding-bottom: 20px; padding-left: 0; text-align: center;}
    }
    .main .center-content { padding: 0 0 18px;}
}
@media screen and (max-width: 479px){

    /* cas-buttons */

        .cas-buttons{margin: 0;flex-wrap:wrap;
            .cas-button-wrap{width: 100%;margin-bottom: 20px;padding: 0;}
        }

    /* /cas-buttons */

}
@media screen and (max-width: 320px){

}