@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1200px){

    /* header */

        .header{
            .header-top{height: auto;padding: 20px 20px;align-items:center;
                .header-logo{padding-top: 0;}
                .header-center-img{display: none;}
                .flags-slider{padding-top: 0;}
            }

        }

    /* /header */

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* header */

        .header{

            .header-top{padding: 20px 60px 20px 20px;margin-bottom: 10px;}

            .header-bottom{padding: 5px 15px;margin:0;position: absolute;width: 100%;left:0;top:calc(100% - 10px);
                .header-bottom-wrap{display: none;
                    nav{
                        &>ul{flex-direction:column;
                            &>li{
                                &>a{justify-content:center;}
                                &>span{cursor: pointer;}
                            }
                        }
                    }
                }
            }

            /* header sendwich */

                .device-sendwich{display: block;}

            /* /header sendwich */

        }

    /* /header */

}
@media screen and (max-width: 768px){

    /* footer */

        .footer{
            .footer-top{flex-wrap:wrap;flex-direction: column;justify-content:flex-start;
                .footer-list-wrap{width: 25%;}
            }
        }

    /* /footer */

}
@media screen and (max-width: 767px){

    /* content-top */

        .content-top{
            .content-left{padding: 0 20px 0 0;width: calc(100% - 120px);}
            .content-right{padding-right: 0;}
        }

    /* /content-top */

}
@media screen and (max-width: 666px){

    /* header */

        .header{
            .header-top{flex-direction:column;padding: 20px 60px;
                .header-logo{margin-bottom: 15px;
                    .header-logo-text{justify-content:center;}
                }
                .flags-slider{margin-right: 0;}
            }
        }

    /* /header */

    /* content-top */

        .content-top{flex-direction:column;align-items:flex-start;margin-bottom: 0;
            .content-left{width: 100%;padding: 0;margin-bottom: 20px;}
        }

    /* /content-top */

}
@media screen and (max-width: 640px){

    /* footer */

        .footer{
            .footer-top{
                .footer-list-wrap{width: 50%;}
            }
        }

    /* /footer */

}
@media screen and (max-width: 479px){

    /* header */

        .header{
            .header-top{padding: 20px 60px 20px 20px;align-items:flex-start;
                .header-logo{
                    .header-logo-text{justify-content:flex-end;}
                }
                .flags-slider{margin-left:25px;}
            }
        }

    /* /header */

    /* footer */

        .footer{
            .footer-top{
                .footer-list-wrap{font-size: 10px;line-height: 16px;}
            }
            .footer-bottom{
                .footer-social-links{
                    a{width: 40px;height: 40px;}
                }
               .footer-text{font-size: 10px;line-height: 16px;}
            }
        }

    /* /footer */

    /* content-top */

        .content-top{text-align: center;align-items: center;}

    /* /content-top */

}
@media screen and (max-width: 320px){

}