@media screen and (min-width: 0px){
    .main{
        .left-main-content{float: none;width: 100%;flex-direction:column-reverse;}
        .left-content{width: 100%;}
        .center-content{width: 100%;}
        .right-content{float: none;width: 100%;display: block;}
    }
}

@media screen and (min-width: 768px){
    .main{
        .left-main-content{float: none;width: 100%;flex-direction:row;}
        .left-content{width: 35%;}
        .center-content{width: 65%;}
        .right-content{float: none;width: 100%;display: block;}
    }
}
@media screen and (min-width: 992px){
    .main{
        .left-main-content{float: none;width: 100%;}
        .left-content{width: 35%;}
        .center-content{width: 65%;}
        .right-content{float: none;width: 100%;display: block;}
    }
}
@media screen and (min-width: 993px){
    .main{
        .left-main-content{float: left;width: 74%;}
        .left-content{width: 35%;}
        .center-content{width: 65%;}
        .right-content{float: right;width: 26%;}
    }
}






@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}