<div class="index-list bonuse-list">
    <div class="index-list-wrap">
        <div class="item">
            <div class="item-wrap">
                <div class="item-description">
                    <div class="item-description-title">
                        <p>200% Up To £100 Free at Betfair</p>
                    </div>
                    <div class="item-description-subtitle">
                        <div class="item-description-subtitle-flag">
                            <img src="images/flags/British-Virgin-Islands.png" alt="">
                        </div>
                        <div class="item-description-subtitle-text">
                            <p>Player from UK not accepted</p>
                        </div>
                    </div>
                    <div class="item-description-table">
                        <table>
                            <tr>
                                <td>Valid For:</td>
                                <td>New and Existing Players</td>
                            </tr>
                            <tr>
                                <td>Bonus type:</td>
                                <td>Match bonus</td>
                            </tr>
                        </table>
                    </div>
                    <div class="item-description-button">
                        <a href="#">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="item-img">
                    <a href="#">
                        <div class="item-img-wrap">
                            <img src="images/index-list-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="item-description">
                    <div class="item-description-title">
                        <p>200% Up To £100 Free at Betfair</p>
                    </div>
                    <div class="item-description-subtitle">
                        <div class="item-description-subtitle-flag">
                            <img src="images/flags/British-Virgin-Islands.png" alt="">
                        </div>
                        <div class="item-description-subtitle-text">
                            <p>Player from UK not accepted</p>
                        </div>
                    </div>
                    <div class="item-description-table">
                        <table>
                            <tr>
                                <td>Valid For:</td>
                                <td>New and Existing Players</td>
                            </tr>
                            <tr>
                                <td>Bonus type:</td>
                                <td>Match bonus</td>
                            </tr>
                        </table>
                    </div>
                    <div class="item-description-button">
                        <a href="#">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="item-img">
                    <a href="#">
                        <div class="item-img-wrap">
                            <img src="images/index-list-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="item-description">
                    <div class="item-description-title">
                        <p>200% Up To £100 Free at Betfair</p>
                    </div>
                    <div class="item-description-subtitle">
                        <div class="item-description-subtitle-flag">
                            <img src="images/flags/British-Virgin-Islands.png" alt="">
                        </div>
                        <div class="item-description-subtitle-text">
                            <p>Player from UK not accepted</p>
                        </div>
                    </div>
                    <div class="item-description-table">
                        <table>
                            <tr>
                                <td>Valid For:</td>
                                <td>New and Existing Players</td>
                            </tr>
                            <tr>
                                <td>Bonus type:</td>
                                <td>Match bonus</td>
                            </tr>
                        </table>
                    </div>
                    <div class="item-description-button">
                        <a href="#">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="item-img">
                    <a href="#">
                        <div class="item-img-wrap">
                            <img src="images/index-list-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <a href="#">
                <img src="images/index-list-big-img.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="item-description">
                    <div class="item-description-title">
                        <p>200% Up To £100 Free at Betfair</p>
                    </div>
                    <div class="item-description-subtitle">
                        <div class="item-description-subtitle-flag">
                            <img src="images/flags/British-Virgin-Islands.png" alt="">
                        </div>
                        <div class="item-description-subtitle-text">
                            <p>Player from UK not accepted</p>
                        </div>
                    </div>
                    <div class="item-description-table">
                        <table>
                            <tr>
                                <td>Valid For:</td>
                                <td>New and Existing Players</td>
                            </tr>
                            <tr>
                                <td>Bonus type:</td>
                                <td>Match bonus</td>
                            </tr>
                        </table>
                    </div>
                    <div class="item-description-button">
                        <a href="#">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="item-img">
                    <a href="#">
                        <div class="item-img-wrap">
                            <img src="images/index-list-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="item-description">
                    <div class="item-description-title">
                        <p>200% Up To £100 Free at Betfair</p>
                    </div>
                    <div class="item-description-subtitle">
                        <div class="item-description-subtitle-flag">
                            <img src="images/flags/British-Virgin-Islands.png" alt="">
                        </div>
                        <div class="item-description-subtitle-text">
                            <p>Player from UK not accepted</p>
                        </div>
                    </div>
                    <div class="item-description-table">
                        <table>
                            <tr>
                                <td>Valid For:</td>
                                <td>New and Existing Players</td>
                            </tr>
                            <tr>
                                <td>Bonus type:</td>
                                <td>Match bonus</td>
                            </tr>
                        </table>
                    </div>
                    <div class="item-description-button">
                        <a href="#">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="item-img">
                    <a href="#">
                        <div class="item-img-wrap">
                            <img src="images/index-list-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="item-description">
                    <div class="item-description-title">
                        <p>200% Up To £100 Free at Betfair</p>
                    </div>
                    <div class="item-description-subtitle">
                        <div class="item-description-subtitle-flag">
                            <img src="images/flags/British-Virgin-Islands.png" alt="">
                        </div>
                        <div class="item-description-subtitle-text">
                            <p>Player from UK not accepted</p>
                        </div>
                    </div>
                    <div class="item-description-table">
                        <table>
                            <tr>
                                <td>Valid For:</td>
                                <td>New and Existing Players</td>
                            </tr>
                            <tr>
                                <td>Bonus type:</td>
                                <td>Match bonus</td>
                            </tr>
                        </table>
                    </div>
                    <div class="item-description-button">
                        <a href="#">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="item-img">
                    <a href="#">
                        <div class="item-img-wrap">
                            <img src="images/index-list-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>