<div class="casino-inside bonus-page">

    <div class="inside-first">

        <div class="inside-left">

            <h2 class="inside-title">200% Up To £100 Free at Betfair</h2>

            <div class="inside-descript">
                <span>
                    <img src="images/flags/Abkhazia.png" alt="" />
                </span> Player from UK not accepted
            </div>

            <div class="ctext">
                <table>
                    <tr>
                        <td>Bonus Amount:</td>
                        <td>Up To £€$100</td>
                    </tr>
                    <tr>
                        <td>Wagering Requirements:</td>
                        <td>20x (D+B)</td>
                    </tr>
                    <tr>
                        <td>Bonus Code:</td>
                        <td>Not Required</td>
                    </tr>
                    <tr>
                        <td>Valid For:</td>
                        <td>New and Existing Players</td>
                    </tr>
                    <tr>
                        <td>Minimum Deposit:</td>
                        <td>£10</td>
                    </tr>
                    <tr>
                        <td>Valid Till:</td>
                        <td>01-01-2025</td>
                    </tr>
                    <tr>
                        <td>Games Allowed:</td>
                        <td>All Casino Games</td>
                    </tr>
                    <tr>
                        <td>Additional Info:</td>
                        <td>This Bonus is cashable</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="inside-right">

            <div class="inside-img">
                <img src="images/inside-img.jpg" alt="" />
            </div>

            <div class="inside-button">
                <a class="button" href="#">
                    <span>play now</span>
                </a>
            </div>
            <div class="inside-right-title">Share with friends</div>
            <div class="inside-socials">
                <div class="inside-soc-item">
                    <a href="#">
                        <img src="images/inside-soc1.png" alt="" />
                        <div class="inside-soc-val">5</div>
                    </a>
                </div>
                <div class="inside-soc-item">
                    <a href="#">
                        <img src="images/inside-soc2.png" alt="" />
                        <div class="inside-soc-val">2</div>
                    </a>
                </div>
                <div class="inside-soc-item">
                    <a href="#">
                        <img src="images/inside-soc3.png" alt="" />
                        <div class="inside-soc-val">1</div>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <div class="inside-second">
        <div class="item-title">Related Bonuses</div>
        <div class="inside-second-list">
            <ul>
                <li>
                    <span>
                        <a href="#">30% Cash-Back on PlayTech at ChipsPalace</a>
                    </span>
                    <span>
                        <a href="#">more info</a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="#">30% Cash-Back on PlayTech at ChipsPalace</a>
                    </span>
                    <span>
                        <a href="#">more info</a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="#">30% Cash-Back on PlayTech at ChipsPalace</a>
                    </span>
                    <span>
                        <a href="#">more info</a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="#">30% Cash-Back on PlayTech at ChipsPalace</a>
                    </span>
                    <span>
                        <a href="#">more info</a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="#">30% Cash-Back on PlayTech at ChipsPalace</a>
                    </span>
                    <span>
                        <a href="#">more info</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="chat-wrap">

        <!-- for programmer wrap -->

    </div>

</div>
