<div class="item-cas">
    <div class="title">
        <h2>Casino Details</h2>
    </div>
    <div class="content">
        <div class="image-block">
            <p>
                <img src="images/smoking.png" alt="">
            </p>
        </div>
        <div class="text-block">
            <div class="row-text">
                <b>Software:</b>
                <p>Playtech, IGT (WagerWorks), NetEnt, Odobo, WMS (Williams Interactive)</p>
            </div>
            <div class="row-text">
                <b>Payout:</b>
                <p>95,2%</p>
            </div>
            <div class="row-text">
                <b>Casino versions:</b>
                <p>Download, Instant Play, Mobile</p>
            </div>
            <div class="row-text">
                <b>Operating System:</b>
                <p>Windows, MacOS, Linux, iOS, Android</p>
            </div>
            <div class="row-text">
                <b>Languges:</b>
                <p>Danish, English, German, Italian, Portuguese, Spanish, Swedish, Greek, Bulgarian, Russian</p>
            </div>
            <div class="row-text">
                <b>Currencies:</b>
                <p>Australian dollars, Canadian dollars, Euros, Hong Kong dollars, Norwegian kroner, British pounds sterling, Singapore dollars, Swedish kronor, US dollars, Denmark krone</p>
            </div>
            <div class="row-text">
                <b>US players:</b>
                <p>No</p>
            </div>
        </div>

    </div>
</div>

<div class="item-cas">
    <div class="title">
        <h2>Casino Banking</h2>
    </div>
    <div class="content">
        <div class="text-block">
            <div class="row-text">
                <b>Deposit Methods:</b>
                <p>Cheque, Clickand Buy, Delta, Maestro, MasterCard, Neteller, PayPal, Solo, Visa Electron, Visa, Western Union, Bank Transfer Express, Skrill</p>
            </div>
            <div class="row-text">
                <b>Minimum Deposit:</b>
                <p>€£$10</p>
            </div>
            <div class="row-text">
                <b>Withdrawal Metods:</b>
                <p>Cheque, Neteller, PayPal, Visa Electron, Visa, Bank Transfer Express, Skrill</p>
            </div>
            <div class="row-text">
                <b>Withdrawal Limits:</b>
                <p>500 000 GBP per day</p>
            </div>
        </div>
    </div>
</div>

<div class="item-cas">
    <div class="title">
        <h2>Additional Information</h2>
    </div>
    <div class="content">
        <div class="text-block">
            <div class="row-text">
                <b>Established:</b>
                <p>2014</p>
            </div>
            <div class="row-text">
                <b>Jurisdiction (license):</b>
                <p>Antigua Online Gaming Association, UK Gambling Commission</p>
            </div>
            <div class="row-text">
                <b>Afiliate Program:</b>
                <p>Euro Partners</p>
            </div>
            <div class="row-text">
                <b>Sister Casinos:</b>
                <p>Casino Tropez</p>
            </div>
        </div>
    </div>
</div>

<div class="cas-buttons">
    <div class="cas-button-wrap">
        <a href="#" class="button button-opacity">
            <span>VISIT CASINO</span>
        </a>
    </div>
    <div class="cas-button-wrap">
        <a href="#" class="button">
            <span>PROMOTIONS</span>
        </a>
    </div>
</div>