<div class="index-list casino-types-list">
    <div class="index-list-wrap">
        <div class="item">
            <div class="item-wrap">
                <div class="item-star">
                    <div class="item-star-wrap">
                        <b>9.5</b>
                    </div>
                </div>
                <div class="item-description">
                    <div class="item-description-title">
                        <p>VIP Stakes Casino</p>
                    </div>
                    <div class="item-description-subtitle">
                        <div class="item-description-subtitle-flag">
                            <img src="images/flags/Abkhazia.png" alt="">
                        </div>
                        <div class="item-description-subtitle-text">
                            <p>Player from UK not accepted</p>
                        </div>
                    </div>
                    <div class="item-description-star-subtitle">
                        <p>Latest Bonus: </p>
                        <a href="#">200% Bonus + 200 Free Spins at VIP Stakes Casino</a>
                    </div>
                    <div class="item-description-button">
                        <a href="#">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="item-img">
                    <a href="#">
                        <div class="item-img-wrap">
                            <img src="images/index-list-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="item-star">
                    <div class="item-star-wrap">
                        <b>9.5</b>
                    </div>
                </div>
                <div class="item-description">
                    <div class="item-description-title">
                        <p>VIP Stakes Casino</p>
                    </div>
                    <div class="item-description-subtitle">
                        <div class="item-description-subtitle-flag">
                            <img src="images/flags/Abkhazia.png" alt="">
                        </div>
                        <div class="item-description-subtitle-text">
                            <p>Player from UK not accepted</p>
                        </div>
                    </div>
                    <div class="item-description-star-subtitle">
                        <p>Latest Bonus: </p>
                        <a href="#">200% Bonus + 200 Free Spins at VIP Stakes Casino</a>
                    </div>
                    <div class="item-description-button">
                        <a href="#">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="item-img">
                    <a href="#">
                        <div class="item-img-wrap">
                            <img src="images/index-list-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="item-star">
                    <div class="item-star-wrap">
                        <b>9.5</b>
                    </div>
                </div>
                <div class="item-description">
                    <div class="item-description-title">
                        <p>VIP Stakes Casino</p>
                    </div>
                    <div class="item-description-subtitle">
                        <div class="item-description-subtitle-flag">
                            <img src="images/flags/Abkhazia.png" alt="">
                        </div>
                        <div class="item-description-subtitle-text">
                            <p>Player from UK not accepted</p>
                        </div>
                    </div>
                    <div class="item-description-star-subtitle">
                        <p>Latest Bonus: </p>
                        <a href="#">200% Bonus + 200 Free Spins at VIP Stakes Casino</a>
                    </div>
                    <div class="item-description-button">
                        <a href="#">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="item-img">
                    <a href="#">
                        <div class="item-img-wrap">
                            <img src="images/index-list-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <a href="#">
                <img src="images/index-list-big-img.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="item-star">
                    <div class="item-star-wrap">
                        <b>9.5</b>
                    </div>
                </div>
                <div class="item-description">
                    <div class="item-description-title">
                        <p>VIP Stakes Casino</p>
                    </div>
                    <div class="item-description-subtitle">
                        <div class="item-description-subtitle-flag">
                            <img src="images/flags/Abkhazia.png" alt="">
                        </div>
                        <div class="item-description-subtitle-text">
                            <p>Player from UK not accepted</p>
                        </div>
                    </div>
                    <div class="item-description-star-subtitle">
                        <p>Latest Bonus: </p>
                        <a href="#">200% Bonus + 200 Free Spins at VIP Stakes Casino</a>
                    </div>
                    <div class="item-description-button">
                        <a href="#">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="item-img">
                    <a href="#">
                        <div class="item-img-wrap">
                            <img src="images/index-list-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="item-star">
                    <div class="item-star-wrap">
                        <b>9.5</b>
                    </div>
                </div>
                <div class="item-description">
                    <div class="item-description-title">
                        <p>VIP Stakes Casino</p>
                    </div>
                    <div class="item-description-subtitle">
                        <div class="item-description-subtitle-flag">
                            <img src="images/flags/Abkhazia.png" alt="">
                        </div>
                        <div class="item-description-subtitle-text">
                            <p>Player from UK not accepted</p>
                        </div>
                    </div>
                    <div class="item-description-star-subtitle">
                        <p>Latest Bonus: </p>
                        <a href="#">200% Bonus + 200 Free Spins at VIP Stakes Casino</a>
                    </div>
                    <div class="item-description-button">
                        <a href="#">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="item-img">
                    <a href="#">
                        <div class="item-img-wrap">
                            <img src="images/index-list-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="item-star">
                    <div class="item-star-wrap">
                        <b>9.5</b>
                    </div>
                </div>
                <div class="item-description">
                    <div class="item-description-title">
                        <p>VIP Stakes Casino</p>
                    </div>
                    <div class="item-description-subtitle">
                        <div class="item-description-subtitle-flag">
                            <img src="images/flags/Abkhazia.png" alt="">
                        </div>
                        <div class="item-description-subtitle-text">
                            <p>Player from UK not accepted</p>
                        </div>
                    </div>
                    <div class="item-description-star-subtitle">
                        <p>Latest Bonus: </p>
                        <a href="#">200% Bonus + 200 Free Spins at VIP Stakes Casino</a>
                    </div>
                    <div class="item-description-button">
                        <a href="#">
                            <span>More Info</span>
                        </a>
                    </div>
                </div>
                <div class="item-img">
                    <a href="#">
                        <div class="item-img-wrap">
                            <img src="images/index-list-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>