<div class="contact-convert">
    <div class="top-description">
        <div class="item-cas">
            <div class="title">
                <h2>Contact us</h2>
            </div>
            <div class="content">
                <p>
                    <a href="mailto:casino@yahoo.com" class="my-mail"> casino@yahoo.com </a>
                </p>
                <p>
                    <a href="callto:jack.kerouac62456" class="my-skype"> jack.kerouac62456 </a>
                </p>
            </div>
        </div>

    </div>
    <div class="form-block">
        <form action="ajax.php" name="" class="contact send-contact">
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="email" name="contact_name" required="required" value="" placeholder="E-mail">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_subject" value="" required="required" placeholder="Subject">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <textarea name="massage" required="required" placeholder="Your message"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-send-form button">
                        <span>send</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>