<div class="content-top">

    <div class="content-left ctext">
        <h6>BONUSES</h6>
        <p>Bonuses are considered to be special perks offered by a casino. Depending on your gaming experience you may select the promotion that you are accustomed to. More advanced players tend to be entitled to high-rolling bonuses despite of the wagering requirements, whereas an average user would prefer a no deposit bonus or a low wagering promotion.</p>
    </div>

    <div class="content-right">
        <a href="#" class="button button-white">
            <span>back</span>
        </a>
    </div>

</div>