<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">

    <div class="container">

        <div class="footer-top">

            <div class="footer-list-wrap">
                <div class="footer-list-title">NETENT SOFTWEAR</div>
                <div class="footer-list-main">
                    <ul>
                        <li>
                            <a href="#">NETENT TOUCH</a>
                        </li>
                        <li>
                            <a href="#">LIVE CASINO</a>
                        </li>
                        <li>
                            <a href="#">TABLE GAMES</a>
                        </li>
                        <li>
                            <a href="#">VIDEO SLOTS</a>
                        </li>
                        <li>
                            <a href="#">SLOTS</a>
                        </li>
                        <li>
                            <a href="#">VIDEO POKER</a>
                        </li>
                        <li>
                            <a href="#">SCRATCH CARDS</a>
                        </li>
                        <li>
                            <a href="#">GAMES</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-list-wrap">
                <div class="footer-list-title">NETENT CASINOS</div>
                <div class="footer-list-main">
                    <ul>
                        <li>
                            <a href="#">WHAT IS NETENT</a>
                        </li>
                        <li>
                            <a href="#">NETENT TOUCH</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-list-wrap">
                <div class="footer-list-title">NETENT LIVE CASINO</div>
                <div class="footer-list-main">
                    <ul>
                        <li>
                            <a href="#">HD LIVE ROULETTE</a>
                        </li>
                        <li>
                            <a href="#">HD LIVE BLACKJACK</a>
                        </li>
                        <li>
                            <a href="#">HD COM. DRAW BLACKJACK</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-list-wrap">
                <div class="footer-list-title">ONLINE CASINO</div>
                <div class="footer-list-main">
                    <ul>
                        <li>
                            <a href="#">BETTING</a>
                        </li>
                        <li>
                            <a href="#">ONLINE POKER</a>
                        </li>
                        <li>
                            <a href="#">AFFILIATES</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-list-wrap">
                <div class="footer-list-title">NETENTCASINO.COM</div>
                <div class="footer-list-main">
                    <ul>
                        <li>
                            <a href="#">ABOUT US</a>
                        </li>
                        <li>
                            <a href="#">PRIVACY</a>
                        </li>
                        <li>
                            <a href="#">RESPONSIBLE GAMING</a>
                        </li>
                        <li>
                            <a href="#">CONTACT US</a>
                        </li>
                        <li>
                            <a href="#">CONTACT NETENT OFFICIAL</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="footer-bottom">

            <div class="footer-social-links">
                <a href="#">
                    <img src="images/social-1-w.png" alt="" />
                </a>
                <a href="#">
                    <img src="images/social-2-w.png" alt="" />
                </a>
                <a href="#">
                    <img src="images/social-3-w.png" alt="" />
                </a>
                <a href="#">
                    <img src="images/social-4-w.png" alt="" />
                </a>
            </div>

            <div class="textwidget"><a href="#">
                    <img src="images/social-1-w.png" alt="">
                </a>
                                                <a href="#">
                    <img src="images/social-2-w.png" alt="">
                </a>
                                                <a href="">
                    <img src="images/social-3-w.png" alt="">
                </a>
                                                <a href="#">
                    <img src="images/social-4-w.png" alt="">
                </a>
            </div>

            <div class="footer-text">
                <p>Netentcasino.com is not part of, related to or have any commercial relationship with Net entertainment AB</p>
                <p>Copyright ROYAL BONUSES © 2011 - 2014 All Rights Reserver.</p>
            </div>

        </div>

    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>

    var selectPlaceholderValue = "Choise Category";

</script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
