<!-- HEADER -->
<header class="header">
    <div class="container">

        <div class="header-top">
            <div class="header-logo">
                <a href="#">
                    <div class="logo-img">
                        <img src="images/header-logo.png" alt="" />
                    </div>
                    <div class="header-logo-text">
                        <div class="header-logo-text-main">
                            Best for <span>UK</span> players
                        </div>
                        <div class="header-logo-flag">
                            <img src="images/flags/Abkhazia.png" alt="" />
                        </div>
                    </div>
                </a>
            </div>

            <div class="header-center-img">
                <img src="images/header-center-img.png" alt="" />
            </div>

            <div class="flags-slider">
                <div class="flags-slider-wrap">
                    <div class="slider-item">
                        <a href="#">
                            <img data-lazy="images/flags/Abkhazia.png" alt="" />
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="#">
                            <img data-lazy="images/flags/Afghanistan.png" alt="" />
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="#">
                            <img data-lazy="images/flags/Aland.png" alt="" />
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="#">
                            <img data-lazy="images/flags/Albania.png" alt="" />
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="#">
                            <img data-lazy="images/flags/Algeria.png" alt="" />
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="#">
                            <img data-lazy="images/flags/American-Samoa.png" alt="" />
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="#">
                            <img data-lazy="images/flags/Andorra.png" alt="" />
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="#">
                            <img data-lazy="images/flags/Angola.png" alt="" />
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="#">
                            <img data-lazy="images/flags/Anguilla.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="device-sendwich">
                <div class="sendwich">
                    <span></span>
                </div>
            </div>

        </div>

        <div class="header-bottom">
            <div class="header-bottom-wrap">
                <nav>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Casino Types</a>
                            <span></span>
                            <ul>
                                <li>
                                    <a href="#">UK Casino</a>
                                </li>
                                <li>
                                    <a href="#">Scandinavian Casino</a>
                                </li>
                                <li>
                                    <a href="#">Australian Casino</a>
                                </li>
                                <li>
                                    <a href="#">Canadian Casino</a>
                                </li>
                                <li>
                                    <a href="#">Other Casinos</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Bonuses</a>
                            <span></span>
                            <ul>
                                <li>
                                    <a href="#">UK Casino</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Software</a>
                            <span></span>
                            <ul>
                                <li>
                                    <a href="#">UK Casino</a>
                                </li>
                                <li>
                                    <a href="#">Scandinavian Casino</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Payment</a>
                            <span></span>
                            <ul>
                                <li>
                                    <a href="#">UK Casino</a>
                                </li>
                                <li>
                                    <a href="#">Scandinavian Casino</a>
                                </li>
                                <li>
                                    <a href="#">Australian Casino</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Sports book</a>
                            <span></span>
                            <ul>
                                <li>
                                    <a href="#">UK Casino</a>
                                </li>
                                <li>
                                    <a href="#">Scandinavian Casino</a>
                                </li>
                                <li>
                                    <a href="#">Australian Casino</a>
                                </li>
                                <li>
                                    <a href="#">Canadian Casino</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</header>
<!-- /HEADER -->

