<!-- HEADER -->
<header class="header">
    <div class="container">
        <div class="header-logo">
            <a href="#">
                <div class="logo-img">
                    <img src="images/header-logo.png" alt="" />
                </div>
                <div class="header-logo-text">
                    <span class="header-logo-text-main"></span>
                    <div class="header-logo-flag">
                        <img src="images/flags/uk.png" alt="" />
                    </div>
                </div>
            </a>
        </div>
    </div>
</header>
<!-- /HEADER -->

