<div class="left-column">
    <div class="left-column-wrap">
        <div class="item">
            <div class="item-subscribe">

                <div class="subscribe-form">
                    <p><b>SUBSCRIBE</b></p>
                    <p>Get New Bonuses</p>
                    <div class="fb-container">
                        <div class="fbf-text"></div>
                        <form class="fbf-widget" action="" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=dianakcury', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                            <input class="subscription_email" type="text" name="email" placeholder="Enter your e-mail"><input type="hidden" value="dianakcury" name="uri">
                            <input type="hidden" name="loc" value="en_US">
                            <input class="subscription_btn " type="submit" value="SUBSCRIBE">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-text">
                <div class="item-text-title">Editor's Choice</div>
                <div class="item-text-img">
                    <img src="images/item-text-img-1.jpg" alt="">
                </div>
                <div class="item-text-descr">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="item-text-button"><a href="#" class="button"><span>Play now</span></a></div>
            </div>
        </div>
        <div class="item">
            <div class="item-text">
                <div class="item-text-title">Bonus of the Month</div>
                <div class="item-text-img">
                    <img src="images/item-text-img-2.jpg" alt="">
                </div>
                <div class="item-text-descr">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="item-text-button"><a href="#" class="button"><span>Play now</span></a></div>
            </div>
        </div>
        <div class="item">
            <div class="item-text">
                <div class="item-text-title">Game of the Month</div>
                <div class="item-text-img">
                    <img src="images/item-text-img-3.jpg" alt="">
                </div>
                <div class="item-text-descr">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="item-text-button"><a href="#" class="button"><span>Play now</span></a></div>
            </div>
        </div>
    </div>
</div>