<div class="left-column">
    <div class="left-column-wrap">
        <div class="item">


                <div class="fb-container">
                    <div class="fbf-text">
                        <div class="feedBurner-title">Subscribe</div>
                        <div class="feedBurner-text">Get New Bonuses</div>
                    </div>
                    <form class="fbf-widget" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=dianakcury', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                        <input class="subscription_email" type="text" name="email" placeholder=""><input type="hidden" value="dianakcury"
                            name="uri">
                        <input type="hidden" name="loc" value="no_NO">
                        <input class="subscription_btn" type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
            <div class="item">
                <div class="item-text">
                    <div class="item-text-title">Editor's Choice</div>
                    <div class="item-text-img">
                        <img src="images/item-text-img-1.jpg" alt="">
                    </div>
                    <div class="item-text-descr">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="item-text-button"><a href="#" class="button"><span>Play now</span></a></div>
                </div>
            </div>
            <div class="item">
                <div class="item-text">
                    <div class="item-text-title">Bonus of the Month</div>
                    <div class="item-text-img">
                        <img src="images/item-text-img-2.jpg" alt="">
                    </div>
                    <div class="item-text-descr">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="item-text-button"><a href="#" class="button"><span>Play now</span></a></div>
                </div>
            </div>
            <!-- <div class="item">
                <div class="item-text">
                    <div class="item-text-title">Game of the Month</div>
                    <div class="item-text-img">
                        <img src="images/item-text-img-3.jpg" alt="">
                    </div>
                    <div class="item-text-descr">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="item-text-button"><a href="#" class="button"><span>Play now</span></a></div>
                </div>
            </div> -->
            <div class="item"><div class="item-title"> Game of the Month</div><div class="textwidget"><table class=" aligncenter"><tbody><tr style="height: 194px;"><td style="height: 194px;"><p><img class="size-full wp-image-4034 aligncenter" src="http://gamblerush.com/wp-content/uploads/2016/06/Jimi-Hendrix_logo.png" alt="Jimi Hendrix_logo" width="130" height="98"></p><ul><li>Exciting musical trip with a guitar legend Jimi Hendirx in a popular video slots derived from NetEnt.</li><li>Play it with GambleRush partner casino!</li></ul></td></tr></tbody></table><p><a href="#" ><span>Play now</span></a></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p></div></div>
        </div>
    </div>