<div class="left-column">
    <div class="left-column-wrap">
        <div class="item">
            <div class="item-subscribe">
                <p><b>SUBSCRIBE</b></p>
                <p>Get New Bonuses</p>
                <div class="subscribe-form">
                    <form action="" name="">
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="subscribe_mail" required="required" value="" placeholder="E-mail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item">
                                <button type="submit" class="contact-submit button">
                                    <span>Join</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-text">
                <div class="item-text-title">Editor's Choice</div>
                <div class="item-text-img">
                    <img src="images/item-text-img-1.jpg" alt="">
                </div>
                <div class="item-text-descr">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="item-text-button"><a href="#" class="button"><span>Play now</span></a></div>
            </div>
        </div>
        <div class="item">
            <div class="item-text">
                <div class="item-text-title">Bonus of the Month</div>
                <div class="item-text-img">
                    <img src="images/item-text-img-2.jpg" alt="">
                </div>
                <div class="item-text-descr">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="item-text-button"><a href="#" class="button"><span>Play now</span></a></div>
            </div>
        </div>
        <div class="item">
            <div class="item-text">
                <div class="item-text-title">Game of the Month</div>
                <div class="item-text-img">
                    <img src="images/item-text-img-3.jpg" alt="">
                </div>
                <div class="item-text-descr">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="item-text-button"><a href="#" class="button"><span>Play now</span></a></div>
            </div>
        </div>
    </div>
</div>