<div class="right-column">
    <div class="right-column-wrap">
        <div class="item">
            <div class="item-title">
                <p>The Newest on Site</p>
            </div>
            <div class="wrapper">
                <div class="tabs">
                    <span class="tab">Casino</span>
                    <span class="tab">Sportsbook</span>
                </div>
                <div class="tabContent">
                    <div class="tabItem">
                        <div class="casino-items-wrap">
                            <div class="casino-item">
                                <div class="casino-item-img">
                                    <div class="casino-item-img-wrap">
                                        <img src="images/casino-item-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="casino-item-text">
                                    <p>Park Lane </p>
                                    <p>Casino 777</p>
                                </div>
                                <div class="casino-item-button">
                                    <a href="#" class="button">
                                        <span>Join</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabItem">Cодержимое 2</div>
                </div>
            </div>
        </div>
    </div>
</div>