<div class="right-column">
    <div class="right-column-wrap">
        <div class="item">
            <div class="item-title">
                <p>The Newest on Site</p>
            </div>
            <div class="wrapper">
                <div class="tabs">
                    <span class="tab">Casino</span>
                    <span class="tab">Sportsbook</span>
                </div>
                <div class="tabContent">
                    <div class="tabItem">
                        <div class="tabItem-wrap">
                            <div class="casino-items-wrap slider-item">
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-1.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-3.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-4.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-5.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="casino-items-wrap slider-item">
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-1.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-3.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-4.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-5.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="casino-items-wrap slider-item">
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-1.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-3.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-4.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-5.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabItem">
                        <div class="tabItem-wrap">
                            <div class="casino-items-wrap slider-item">
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-1.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-3.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="casino-items-wrap slider-item">
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-1.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-3.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-4.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-5.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Lorem ipsum dolor.</p>
                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="casino-items-wrap slider-item">
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-1.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-3.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-4.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-5.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item-title">
                <p>Popular on Site</p>
            </div>
            <div class="wrapper">
                <div class="tabs">
                    <span class="tab">Casino</span>
                    <span class="tab">Sportsbook</span>
                </div>
                <div class="tabContent">
                    <div class="tabItem">
                        <div class="tabItem-wrap">
                            <div class="casino-items-wrap slider-item">
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-1.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-3.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-4.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-5.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-1.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-3.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-4.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-5.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tabItem">
                        <div class="tabItem-wrap">
                            <div class="casino-items-wrap slider-item">
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-1.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-3.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-4.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-5.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-1.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="casino-item">
                                    <div class="casino-item-img">
                                        <a href="#">
                                            <div class="casino-item-img-wrap">
                                                <img src="images/casino-item-3.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="casino-item-text">
                                        <p>Park Lane </p>

                                    </div>
                                    <div class="casino-item-button">
                                        <a href="#" class="button">
                                            <span>Join</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>