<div class="search">
    <form action="">
        <div class="form-row">
            <div class="form-input">
                <select name="search_select" class="formstyler-class">
                    <option value="category1">category1</option>
                    <option value="category2">category2</option>
                    <option value="category3">category3</option>
                    <option value="category4">category4</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-input">
                <div class="form-input-wrap">
                    <input type="text" name="search_field" placeholder="Search..." required="required" />
                </div>
                <div class="form-input-clear"></div>
            </div>
            <div class="submit-button">
                <button type="submit">
                    <img src="images/loop-img.png" alt="" />
                </button>
            </div>
        </div>
    </form>
</div>