<div class="casino-inside casino-page">

    <div class="inside-first">

        <div class="inside-left">

            <div class="stars-wrap">
                <div class="star-main">
                    <span class="star-value">9.5</span>
                </div>
                <div class="star-small" data-stars-value=9>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                </div>
            </div>

            <div class="casino-page-main">

                <h2 class="inside-title">VIP Stakes Casino</h2>

                <div class="inside-descript">
                    <span>
                        <img src="images/flags/Abkhazia.png" alt="" />
                    </span> Player from UK not accepted
                </div>

                <div class="casino-bonuse-info">
                    <p>Latest Bonus:</p>
                    <p>
                        <span>200% Bonus + 200 Free Spins at VIP Stakes Casino</span>
                    </p>
                </div>

                <div class="casino-bonuse-button">
                    <a href="#" class="button">
                        <span>play now</span>
                    </a>
                </div>

            </div>

        </div>

        <div class="inside-right">

            <div class="inside-img">
                <img src="images/inside-img.jpg" alt="" />
            </div>

            <div class="inside-right-title">Share with friends</div>
            <div class="inside-socials">
                <div class="inside-soc-item">
                    <a href="#">
                        <img src="images/inside-soc1.png" alt="" />
                        <div class="inside-soc-val">5</div>
                    </a>
                </div>
                <div class="inside-soc-item">
                    <a href="#">
                        <img src="images/inside-soc2.png" alt="" />
                        <div class="inside-soc-val">2</div>
                    </a>
                </div>
                <div class="inside-soc-item">
                    <a href="#">
                        <img src="images/inside-soc3.png" alt="" />
                        <div class="inside-soc-val">1</div>
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>