/* header */

    .header{z-index: 101;position: relative;

        .container{position: relative;}

        .header-top{background-color: rgba(66, 66, 66, .67);margin:0 -15px;padding:0 30px;display: flex;align-items:flex-start;justify-content:space-between;position: relative;height: 106px;

            .header-logo{max-width: 300px;width: 100%;padding-top: 15px;
                a{text-decoration: none;}
                .header-logo-text{display: flex;align-items: center;justify-content: flex-end;color:#fff;font-weight: 500;font-size: 18px;
                    .header-logo-text-main{margin-right: 10px;}
                }
            }

            .header-center-img{position: absolute;bottom: 0;left: calc(50% - 215px);display: none;}

            .flags-slider{padding-top: 22px;margin-right: 25px;
                .flags-slider-wrap{width: 140px;margin-bottom: 0;
                    .slider-item{width: 32px;height: 32px;text-align: center;
                        a{display: inline-block;position: relative; height: 32px; overflow: hidden; width: 32px; outline: none;
                            &:before{content:'';display: block;position:absolute;top:4px;left:0px; bottom: 4px;right: 0px; width: 100%; opacity:0;border:2px solid #fff;transition:opacity 100ms ease;}
                            img{}

                            &:hover, &.active{
                                &:before{opacity: 1;}
                            }
                        }
                    }
                    .slick-arrow{width: 10px;height: 15px;font-size: inherit;color:transparent;background-color: transparent;
                        &:before, &:after{content:'';display: block;position: absolute;line-height: 0;width: 10px;height: 1px;background-color: #fff;top:50%;box-shadow:0 0 3px 0 rgba(255, 255, 255, .25);transition:background-color 300ms ease;}
                        &:before{transform:rotate(45deg);}
                        &:after{transform:rotate(-45deg);}
                        &.slick-prev{left:-15px;
                            &:before, &:after{transform-origin:0 50%;}
                        }
                        &.slick-next{right:-15px;
                            &:before, &:after{transform-origin:100% 50%;}
                        }

                        &:hover{
                            &:before, &:after{background-color: #19ac51;box-shadow: 0 0 3px rgba(250, 124, 0, .25);}
                        }
                    }
                }
            }

        }

       .header-bottom{border-radius: 0 0 10px 10px;background-color: #232323;margin:0 -15px;padding: 0 15px;
            nav{display: flex;justify-content:center;
                &>ul{display: flex;
                    &>li{position: relative;margin:0 33px;
                        &>a{display: flex;align-items:center;height:75px;font-weight: 500;font-size: 18px;color:#fff;position:relative;transition:color 300ms ease;
                            &:before{content:'';display: block;position: absolute;top:0;left:0;width: 100%;height: 5px;background-color:#19ac51;opacity:0;transform:scale(0);transition:transform 300ms ease, opacity 300ms ease;}
                            &:hover{text-decoration: none;}
                        }
                        &>span{position: absolute;width: 10px;height: 6px;right: -16px;top:calc(50% - 3px);
                            &:before, &:after{content:'';display: block;position: absolute;width: 7px;height:2px;background-color: #fff;top:calc(50% - 3px);transition:background-color 300ms ease;}
                            &:before{left:0;transform-origin:0 50%;transform:rotate(45deg) translateZ(0px);}
                            &:after{right:0;transform-origin:100% 50%;transform:rotate(-45deg) translateZ(0px);}
                        }
                        &:hover{
                            &>a{color:#19ac51;
                                &:before{opacity: 1;transform:scale(1);}
                            }
                            span{
                                &:before, &:after{background-color: #19ac51;}
                            }
                        }
                        &>ul{display: none;position: absolute;background-color: #fff;border-radius: 5px;width: 230px;padding: 15px 30px;top:calc(100% + 5px);left:calc(50% - 115px);box-shadow:0 0 10px 0 rgba(0, 0, 0, .35);
                            &:before{content:'';display: block;position: absolute;width: 100%;height: 5px;top:-5px;}
                            a{display: block;width: 100%;text-align: center;font-weight: 500;font-size: 16px;padding: 15px 0 16px 0;border-bottom:1px solid #e0e0e0;color:#474747;transition:color 300ms ease;
                                &:hover{text-decoration: none;color:#518a51;}
                            }
                            li{
                              &:last-child{
                                a{border-bottom: none;padding:15px 0 10px 0;}
                              }
                              &:first-child{
                                a{padding: 10px 0 15px 0;}
                              }
                            }
                        }
                    }
                }
            }
       }

       /* header sendwich */

            .device-sendwich{position: absolute;right: 15px;top:calc(50% - 15px);display: none;
                .sendwich{width: 30px;height: 30px;position: relative;cursor: pointer;
                    &:before, &:after{content: '';transform-origin:0% 50%;}
                    &:before, &:after, span{position: absolute;height: 4px;width: 30px;background-color:#fff;left:0;transition:all 300ms ease;}
                    &:before{top:0;}
                    &:after{bottom:0;}
                    span{top:calc(50% - 2px);}
                    &:hover{
                        &:before, &:after, span{background-color: #19ac51;}
                    }
                }
                &.active{
                    .sendwich{
                        span{opacity: 0;}
                        &:before, &:after{left:4px;}
                        &:before{transform:rotate(45deg);top:2px;}
                        &:after{transform:rotate(-45deg);bottom:2px;}
                    }
                }
            }

       /* /header sendwich */

    }

/* /header */

/* baner-before-footer */

    .before-footer-get-bonuses{padding: 30px 0;
        .container{text-align: center;}
    }

/* /baner-before-footer */

/*footer */

    .footer{background-color:#2d2d2d;padding: 35px 0 45px 0;
        .footer-top{display: flex;margin-bottom: 40px;justify-content:space-between;
            .footer-list-wrap{padding: 0 10px;font-size: 12px;line-height: 18px;text-transform: uppercase;padding-bottom: 20px;
                .footer-list-title{color:#d5ff00;margin-bottom: 5px;}
                .footer-list-main{
                    li{margin-bottom: 5px;}
                    a{position: relative;text-decoration: none;color:#bfbfbf;
                        &:before{content:'';display: block;position: absolute;left:0;top:100%;height: 1px;width: 0;background-color: #bfbfbf;transition:width 300ms ease;}
                        &:hover{
                            &:before{width: 100%;}
                        }
                    }
                }
            }
        }
        .footer-bottom{
            .footer-social-links{display: flex;justify-content:center;padding-bottom: 25px;
                a{display: flex;justify-content:center;align-items:center;width: 50px;height: 50px;background-color: #666666;transition:background-color 300ms ease;margin: 0 8px;
                    &:hover{background-color: orange;}
                }
            }
            .textwidget{margin-bottom: 25px;}
            .footer-text{text-align: center;font-size: 12px;color:#b8b8b8;line-height: 18px; border-top: 1px solid #adadad; padding-top: 25px;}
        }
    }

/* /footer */

/* content-top */

    .content-top{margin-bottom: 30px;display: flex;align-items:center;justify-content:space-between;
        .content-left{width: calc(100% - 160px);padding: 0 20px;}
        .content-right{padding-right: 20px;
            .button{width: 101px;height: 40px;background-color: #fff;box-shadow:0px 1px 0.75px 0.25px rgba(41, 41, 41, .34);border-radius: 10px;transition:background-color 300ms ease;
                span{color:#6c6c6c;font-weight: 700;text-transform: uppercase;font-weight: 700;padding-left:15px;position: relative;width:auto;transition:color 300ms ease;
                    &:before, &:after{content:'';display: block;position: absolute;left:0;width: 10px;height: 3px;border-radius:5px;background-color: #6c6c6c;border-radius: 30%;transform-origin:0 50%;transition:background-color 300ms ease;}
                    &:before{transform:rotate(45deg) translateZ(0px);top:calc(50% - 2px);}
                    &:after{transform:rotate(-45deg) translateZ(0px);top:calc(50% - 1px);}
                }
                &:hover{background-color:#6c6c6c;
                    span{color:#fff;
                        &:before, &:after{background-color: #fff;}
                    }
                }
            }
        }
    }

/* /content-top */

/* search */

    .search{margin:0 -10px 19px; display: flex;align-items:center; position: relative; z-index: 100; justify-content:space-between;
        form{ width: 50%;
            .form-row{position:relative;padding: 0 10px;width: 100%;z-index: 0;
                &:first-child{z-index: 1;}
                .submit-button{position: absolute;top:calc(50% - 9px);left:15px;
                    button{border:none;background-color: transparent;opacity: .45;transition:opacity 300ms ease;
                        &:hover{opacity: 1;}
                    }
                }
                &.error{
                    .form-input-clear{
                        &:before, &:after{background-color: #c30a0a;}
                    }
                }
            }
            .form-input{position: relative;
                input{width: 100%;border:none;border-radius: 10px;height: 42px;line-height: 42px;padding: 0 35px 0 45px;font-size: 18px;font-weight: 300;box-shadow:0px 1px 0.75px 0.25px rgba(41, 41, 41, .34);transition:box-shadow 300ms ease;
                    &::-webkit-input-placeholder{font-family: 'Helvetica', sans-serif;font-weight: 300;color:#6c6c6c;transition:color 300ms ease;}
                    &:-moz-placeholder{font-family: 'Helvetica', sans-serif;opacity: 1;font-weight: 300;color:#6c6c6c;transition:color 300ms ease;}
                    &::-moz-placeholder{font-family: 'Helvetica', sans-serif;opacity: 1;font-weight: 300;color:#6c6c6c;transition:color 300ms ease;}
                    &:-ms-input-placeholder{font-family: 'Helvetica', sans-serif;font-weight: 300;color:#6c6c6c;transition:color 300ms ease;}
                    &:focus{
                        &::-webkit-input-placeholder{opacity: 0;transition:color 0ms ease;}
                        &:-moz-placeholder{opacity: 0;transition:color 0ms ease;}
                        &::-moz-placeholder{opacity: 0;transition:color 0ms ease;}
                        &:-ms-input-placeholder{opacity: 0;transition:color 0ms ease;}
                    }
                    &.error{box-shadow:0 1px 0.75px 0.25px rgba(195, 10, 10, .64);
                        &::-webkit-input-placeholder{color:#c30a0a;}
                        &:-moz-placeholder{color:#c30a0a;}
                        &::-moz-placeholder{color:#c30a0a;}
                        &:-ms-input-placeholder{color:#c30a0a;}
                    }
                }

                .form-input-clear{position: absolute;width: 11px;height: 11px;right: 15px;top:calc(50% - 6px);cursor: pointer;
                    &:before, &:after{content:'';display: block;position: absolute;height: 2px;width: 13px;border-radius: 30%;background-color: #000;top:calc(50% - 1px);left:calc(50% - 7px);transform-origin:50% 50%;opacity: .5;transition:all 300ms ease;}
                    &:before{transform:rotate(45deg) translateZ(0px);}
                    &:after{transform:rotate(-45deg) translateZ(0px);}
                    &:hover{
                        &:before, &:after{opacity: 1;}
                    }
                }

                .errorText{display: none!important;}

            }
        }
    }

    .formstyler-class{
        &.jq-selectbox{width: 100%;
            .jq-selectbox__select{height: 42px;border:none;background:#fff;border-radius: 10px;line-height: 42px;font-size: 18px;font-weight: 400;font-family:'Helvetica', sans-serif;color:#3f3f3f;}
            .jq-selectbox__trigger{border-left:none;background-color: #19ac51;width: 50px;border-radius: 0 10px 10px 0;
                .jq-selectbox__trigger-arrow{width: 10px;height: 6px;top:calc(50% - 3px);right:calc(50% - 5px);border-width: 0;transform-origin:50% 50%;transition:transform 300ms ease;
                    &:before, &:after{content:'';display: block;position: absolute;top:-1px;height: 2px;width: 8px;background-color: #fff;border-radius: 30%;}
                    &:before{transform-origin:0 50%;transform:rotate(45deg) translateZ(0px);left:calc(50% - 5px);}
                    &:after{transform-origin:100% 50%;transform:rotate(-45deg) translateZ(0px);left:calc(50% - 3px);}
                }
            }
            .jq-selectbox__dropdown{
                &.show{display: block!important;}
            }
            &.opened{
                .jq-selectbox__trigger{
                    .jq-selectbox__trigger-arrow{transform:rotateX(180deg);}
                }
            }
            .jq-selectbox__dropdown{font-size: 16px;line-height: 1.25;color:#3f3f3f;
                li{transition:all 300ms ease;
                    &.selected, &.sel{background-color:#19ac51;color:#fff;}
                    &:hover{background-color: rgb(31, 193, 93);}
                }
            }
        }
    }

/* /search */

/* casino-inside */

    .casino-inside{

        .inside-first{display: flex;align-items:flex-start;justify-content:space-between;background-color: #fff;border-radius: 10px;box-shadow:0px 1px 0.75px 0.25px rgba(41, 41, 41, 0.34);padding: 30px 25px;margin-bottom: 20px;

            .inside-left{width: 100%;
                .inside-title{font-weight: 700;font-size: 18px;color:#3f3f3f;margin-bottom: 15px;}
                .inside-descript{font-weight: 400;font-size: 13px; margin-bottom: 20px;
                    span{margin-right:5px; display: inline-block; vertical-align: middle;}
                }
            }

            .inside-right{width: 160px; float: right; margin-left: 20px; margin-bottom: 20px;
                .inside-img{margin-bottom: 20px;position: relative;display: inline-block;
                    img{border-radius: 10px;}
                    .stars-wrap{width: 100%;padding: 5px 5px 0 5px;
                        .star-main{position: absolute;top:0;right: 0;transform:translate(50%, -40%);width: 64px;height: 60px;
                            .star-value{font-size: 12px;margin-bottom: -7px;}
                        }
                        .star-small{width: 150px;
                            .star{width: 12px;height: 11px;}

                        }
                    }
                }
                .inside-button{margin-bottom: 15px;}
                .inside-right-title{font-weight: 500;font-size: 14px;color:#000;text-transform: uppercase;text-align: center;margin-bottom: 10px;}
                .inside-socials{display: flex;justify-content:center;align-items:center;
                    .inside-soc-item{margin: 0 10px;
                        a{position:relative;display: inline-block;
                            .inside-soc-val{position:absolute;top:-8px;right:-8px;border:2px solid #fff;width: 17px;height: 17px;background-color: #d24a43;font-size: 10px;color:#fff;display: flex;justify-content:center;align-items:center;border-radius: 50%;}
                            img{transition:opacity 300ms ease;}
                            &:hover{
                                img{opacity: .65;}
                            }
                        }
                    }
                }
            }
        }

        .inside-second{box-shadow:0px 1px 0.75px 0.25px rgba(41, 41, 41, 0.34);margin-bottom: 20px;border-radius: 10px;
            .item-title{border-radius: 10px 10px 0 0;text-align: center;}
            .inside-second-list{background-color: #fff;border-radius: 0 0 10px 10px;padding: 25px 30px;
                li{display: flex;margin-bottom: 15px;align-items: center;justify-content: space-between;
                    &:last-child{margin-bottom: 0;}
                    span{
                        &:first-child{width: calc(100% - 75px);}
                    }
                    a{text-decoration: underline;
                        &:hover{text-decoration: none;}
                    }
                }
            }
        }

        /* bonus-page */

            &.bonus-page{
                .ctext{
                    table{display: block;width: 100%;
                        tbody{display: block;}
                        tr{display: flex;justify-content:space-between;align-items:center;margin-bottom: 12px;
                            &:last-child{margin-bottom: 0;}
                            td{display: block;font-weight: 200;padding-left: 10px;
                                &:last-child{text-align: right;}
                            }
                        }
                    }
                }
            }

        /* /bonus-page */

        /* payment-page */

            &.payment-page{
                .inside-first{display: block;
                    .inside-right{float: right;margin: 0 0 10px 15px;}
                    .inside-left{width: 100%;
                        .ctext{
                            p{font-size: 14px;color:#919191;font-weight: 200;}
                        }
                    }
                }
            }

        /* /payment-page */

        /* casino-page */

            &.casino-page{
                .inside-first{
                    .inside-left{display: flex;justify-content:space-between;align-items:center;width: calc(100% - 150px);

                        .casino-page-main{width: calc(100% - 120px);
                            .casino-bonuse-info{margin-bottom: 20px;
                                p{font-weight: 200;margin-bottom: 5px;line-height: 1.25;
                                    span{font-weight: 500;font-size: 14px;color:#02399f;}
                                }
                            }
                            .casino-bonuse-button{
                                .button{max-width: 130px;height: 30px;font-size: 12px;margin: 0;}
                            }
                        }
                    }
                    .stars-wrap{width: 90px;
                        .star-main{width: 84px;height: 77px;display: block;margin: 0 auto 10px auto;display: flex;align-items: center;justify-content: center;background-image:url(../../images/star-big.png);background-repeat: no-repeat;background-size:cover;
                            .star-value{font-size: 14px;font-weight: 700;margin-bottom: -9px;}
                        }
                        .star-small{display: flex;justify-content:space-around;align-items:center;flex-wrap:wrap;width: 60px;margin: 0 auto;
                            .star{display: block;width: 10px;height: 9px;background-image:url(../../images/star-big-gray.png);background-size: 100% 100%;margin:0 1px 2px;cursor: pointer;
                                &.active{background-image:url(../../images/star-big.png);}
                            }
                            &.chossen{
                                .star{cursor: default;}
                            }
                        }
                    }
                    .inside-right{width: 130px;
                        .stars-wrap{display: none;}
                    }
                }
            }

        /* /casino-page */

    }

/* /casino-inside */